<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.junit.launchconfig">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/spring-orm-dux/src/main/java/dux/org/springframework/orm/hibernate5/HibernateExceptionTranslatorTes.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.ui.favoriteGroups">
<listEntry value="org.eclipse.eclemma.ui.launchGroup.coverage"/>
</listAttribute>
<listAttribute key="org.eclipse.eclemma.core.SCOPE_IDS">
<listEntry value="=spring-orm-dux/C:\/Users\/User\/.m2\/repository\/org\/springframework\/spring-orm\/5.0.0.RELEASE\/spring-orm-5.0.0.RELEASE.jar"/>
<listEntry value="=spring-orm-dux/src\/main\/java"/>
<listEntry value="=spring-orm-dux/src\/test\/resources"/>
<listEntry value="=spring-orm-dux/src\/main\/resources"/>
<listEntry value="=spring-orm-dux/src\/test\/java"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.junit.CONTAINER" value=""/>
<booleanAttribute key="org.eclipse.jdt.junit.KEEPRUNNING_ATTR" value="false"/>
<stringAttribute key="org.eclipse.jdt.junit.TESTNAME" value=""/>
<stringAttribute key="org.eclipse.jdt.junit.TEST_KIND" value="org.eclipse.jdt.junit.loader.junit4"/>
<stringAttribute key="org.eclipse.jdt.launching.CLASSPATH_PROVIDER" value="org.eclipse.m2e.launchconfig.classpathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="dux.org.springframework.orm.hibernate5.HibernateExceptionTranslatorTes"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="spring-orm-dux"/>
<stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.m2e.launchconfig.sourcepathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-ea"/>
</launchConfiguration>
