<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.junit.launchconfig">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/voters/src/test/java/dux/org/springframework/security/web/authentication/ui/DefaultLoginPageGeneratingFilterTest.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.ui.favoriteGroups">
<listEntry value="org.eclipse.eclemma.ui.launchGroup.coverage"/>
</listAttribute>
<listAttribute key="org.eclipse.eclemma.core.SCOPE_IDS">
<listEntry value="=voters/src\/main\/java"/>
<listEntry value="=voters/C:\/Users\/User\/.m2\/repository\/org\/springframework\/security\/spring-security-web\/4.2.3.RELEASE\/spring-security-web-4.2.3.RELEASE.jar"/>
<listEntry value="=voters/src\/main\/resources"/>
<listEntry value="=voters/src\/test\/java"/>
<listEntry value="=voters/C:\/Users\/User\/.m2\/repository\/org\/springframework\/spring-web\/4.3.9.RELEASE\/spring-web-4.3.9.RELEASE.jar"/>
<listEntry value="=voters/src\/test\/resources"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.junit.CONTAINER" value=""/>
<booleanAttribute key="org.eclipse.jdt.junit.KEEPRUNNING_ATTR" value="false"/>
<stringAttribute key="org.eclipse.jdt.junit.TESTNAME" value=""/>
<stringAttribute key="org.eclipse.jdt.junit.TEST_KIND" value="org.eclipse.jdt.junit.loader.junit4"/>
<stringAttribute key="org.eclipse.jdt.launching.CLASSPATH_PROVIDER" value="org.eclipse.m2e.launchconfig.classpathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="dux.org.springframework.security.web.authentication.ui.DefaultLoginPageGeneratingFilterTest"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="voters"/>
<stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.m2e.launchconfig.sourcepathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-ea"/>
</launchConfiguration>
